body {
    font-family: Arial, sans-serif;
    
}
.dropdown {
    position: relative;
    display: inline;
}
.dropdown-content {
    background-image: url('bocchi-background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline;
    flex-direction: row;
    position: absolute;
    min-width: 400px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: black(255, 255, 255);
    text-decoration:dashed;
    background-color: yellow;
}
.dropdown:hover .dropdown-content {
    display:inline-block;
}