#title{
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    background-image:url(pngtree-gray-simple-geometric-technology-taobao-banner-background-picture-image_1185883.jpg);
}

